* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px green;
  font-weight: 900;
  font-family: 'Trebuchet MS', sans-serif;
}

body {
  background-image: linear-gradient(to bottom, #d7d58e, #21758d);
}

header {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url(./img/logo.png);
  background-size: contain;

}

main {
  display: flex;
  padding: 0 10vw 0 10vw;
  gap: 5rem;
}

#game {
  display: grid;
  width: 70vw;
  height: 80vh;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  border: 4px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to bottom, #d7d58e, #21758d),
    linear-gradient(90deg, #8f41e9, #578aef);
}
#controller {
  display: flex;
  width: 30vw;
  height: 80vh;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  border: 4px solid transparent;
  border-radius: 3%;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to bottom, #d7d58e, #21758d),
    linear-gradient(90deg, #8f41e9, #578aef);
}

div {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.levelComplete {
  width: 16rem;
  height: 5rem;
  background-image: url(./img/level.png);
  background-size: contain;
  border-radius: 15%;
}
.level {
  width: 5.8rem;
  height: 5rem;
  background-image: url(./img/1.png);
  background-size: contain;
  border-radius: 30%;
}

.play {
  width: 11rem;
  height: 5rem;
  background-image: url(./img/play.png);
  background-size: contain;
  border-radius: 15%;
}
.reset {
  width: 11rem;
  height: 5rem;
  background-image: url(./img/restart.png);
  background-size: contain;
  border-radius: 15%;
}
.exit {
  width: 11rem;
  height: 5rem;
  background-image: url(./img/Exit.png);
  background-size: contain;
  border-radius: 15%;
}

/* player , box , wall , empty place , goal spot   */
.player {
  /* background: blue; */
  background-image: url(./img/player.png);
  border-radius: 50%;
  z-index: 2;
}

.box {
  background-image: url(./img/box.png);
  background-size: contain;
  z-index: 100;
  border-radius: 60%;
  z-index: 2;
}
.wall {
  /* background: black; */
  background-image: url(./img/qiang.png);
background-size: cover;
}

.goal {
  background-image: url(./img/goal.png);
  background-size: contain;
  border-radius: 40%;
  z-index: 1;
}

.goalBox{
  background-image: url(./img/red.png);
  background-size: contain;
}

.empty {
  /* background-image: url(./img/floor.png); */
  background-size: contain;
}

footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align:center; 
  background-image: url(./img/logo.png);
  background-size: contain;
}
