*{
  box-sizing: border-box;
  margin:0; 
  padding: 0 ;
  border: 1px green;
}

body{
  background-image: linear-gradient(to bottom , #d7d58e, #21758d);
}

header{
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

main {
  display: flex;
  padding: 0 10vw 0 10vw;
  gap: 5rem;
}

#game {
  display: grid;
  width: 70vw;
  height: 80vh;
  grid-template-rows: repeat(10,1fr) ;
  grid-template-columns: repeat(10,1fr) ;
  border: 1px black solid; 
}

#controller{
  display: flex;
  width: 30vw;
  height: 80vh;
  flex-direction: column;
  gap :5rem; 
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-image: linear-gradient(to bottom,#d7d58e, #21758d); 
  border-radius: 3%;
}

.box{
    background: grey;
    border: 1px solid red;
}
.play{
  width: 11rem;
  height: 5rem;
  background-image: url(./img/play.png);
  background-size: contain;
  border-radius: 15%;
}
.reset {
  width: 11rem;
  height: 5rem;
  background-image: url(./img/restart.png);
  background-size: contain;
  border-radius: 15%;
}
.exit{
  width: 11rem;
  height: 5rem;
  background-image: url(./img/Exit.png);
  background-size: contain;
  border-radius: 15%;
}

/* player , box , wall , empty place , destination  */
.player {
  background: blue; 
}

.box{
  background: brown;
}
.wall{
  background: black;
}

.destination{
 background: white;
 border-radius: 50%;
}

.empty {
  background: purple;
}

footer{
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

